/* styling the church name in the header elment */ 
.navbar .navbar-brand{
    color:aqua;
}
/* styling the links in the navigation element */
nav a{
    color:green;
    font-weight: bold;
    text-decoration: none;
}
/*styling the verse */
#verse{
    color:white;
    text-align: left;
    background-image: url("https://images.pexels.com/photos/1666816/pexels-photo-1666816.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 50%;
    padding: 10px;
    
}
/*Adjusting for different screen sizes*/
@media (max-width: 768px) {
    #verse {
        width: 90%;  /* Make it wider on smaller screens */
        height: auto;  /* Adjust height based on content */
    }
}

/* styling form label  */
label{
    color:green;
    font-weight: bold;
    font-size: 20px;
}
/* styling form input for contact-us.html*/
#visitors-form input{
    display:block;
    border:2px solid black;
    border-radius: 10px;
    padding: 10px;  /* Adds padding inside the input field */
}
/* styling the submit button */
input[type="submit"]{
    color:white;
    border:none;
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
}
/* styling for the form heading */
footer h4{
    color: green;
    font-weight: bold;
}
/* background color for the footer*/
footer{
    background-color:#e3f2fd ;
    padding: 20px 0px; /* Adds padding around the footer content */
    font-family: Arial, sans-serif; /* Font family for readability */
}
/* styling form input for ministries.html*/
#prayer-request-form input{
    border:1.5px solid black;
    border-radius: 10px;
    padding: 10px;  /* Adds padding inside the input field */
    display: block ;
}
#copyright{
    text-align: center;
}
/* Style social media icons */
.social-media-icons a {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
  /* socialmedia icons color when hovered */
  .social-media-icons a:hover {
    color: #007bff; /* Change color on hover */
  }
/* styling the choir link in the navigation element */
  nav .dropdown-item{
    color:green;
    font-weight: bold;
    text-decoration: none;
}